root = "."
tmp_dir = "tmp"

[build]
cmd = "go build -o ./tmp/main ./cmd/api"
bin = "./tmp/main"
pre_cmd = ["make swagger"]
delay = 1000
exclude_dir = ["assets", "tmp", "vendor", "docs"]
include_ext = ["go", "tpl", "tmpl", "html"]
exclude_regex = ["_test.go"]
log = "air.log"

[log]
time = true

[color]
main = "magenta"
watcher = "cyan"
build = "yellow"
runner = "green"

[misc]
clean_on_exit = true
