[Unit]
Description=Rich Backend Service (Go-CRM)
After=network.target mongodb.service

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/go-crm
ExecStart=/var/www/go-crm/bin/api
Restart=always
Environment=PORT=42111
Environment=JWT_SECRET=Rishu@123
Environment=MONGO_URI=mongodb+srv://admin:vqsKpKMzkYI5f2eL@cluster0.wtumbu4.mongodb.net/
Environment=DB_NAME=rich-apps
Environment=SKIP_AUTH=false
Environment=ENVIRONMENT=production
Environment=APP_ID=rich-apps
Environment=FS_PATH=/var/www/go-crm
Environment=FS_URL=/fs/uploads

[Install]
WantedBy=multi-user.target
